<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>{{{title}}}</title>
</head>
<body class="p-3 mb-auto bg-dark text-white">
    <a style="color: #78a0ff" href="/popularsearches">Popular Searches</a>
    <a style="color: #78a0ff" href="/">Home</a>
    <br>
    <br>
    
    <form action="/search" method="POST">
    <label for="search">
    <input type="text" id="search" name="search" placeholder="search"> 
    </label>
    <button type="submit" >Search</button>
    </form>
    <br>
    <h1>{{{title}}}</h1>
    {{{body}}}
    <script src="tota11y.min.js"></script>
</body>
</html>